# Fingerprint
on boot
    chown system system /dev/goodix_fp
    chown system system /dev/silead_fp
    chmod 0777 /dev/goodix_fp
    chmod 0777 /dev/silead_fp

on post-fs-data
    mkdir /data/vendor/goodix 0777 system system
    mkdir /data/vendor/silead 0777 system system
    chmod 0666 /sys/bus/platform/devices/soc:xiaomi_fingerprint/fingerdown
